In [1]:
import pandas as pd

In [3]:
#Reading the file into a dataframe using pandas method 'read_csv'
data=pd.read_csv('weather_dataset/weatherHistory.csv')
#Displaying the read contents
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [6]:
data['Summary'].value_counts()

Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: Summary, dtype: int64

In [12]:
data['Summary']=data['Summary'].replace('Partly Cloudy',1)
data['Summary']=data['Summary'].replace('Mostly Cloudy',2)
data['Summary']=data['Summary'].replace('Overcast',3)
data['Summary']=data['Summary'].replace('Clear',4)
data['Summary']=data['Summary'].replace('Foggy',5)
data.head(100)
data['Summary'].value_counts()

1                                      31733
2                                      28094
3                                      16597
4                                      10890
5                                       7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: Summary, dtype: int64

In [8]:
data = data.drop(['Formatted Date','Daily Summary'], axis=1)
data

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
0,1,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13
1,1,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63
2,2,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94
3,1,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41
4,2,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51
...,...,...,...,...,...,...,...,...,...,...
96448,1,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36
96449,1,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16
96450,1,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66
96451,1,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95
96452,1,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16

In [10]:
dataset = pd.DataFrame( data.columns)
#Add column with the price (target).
dataset

                          0
0                   Summary
1               Precip Type
2           Temperature (C)
3  Apparent Temperature (C)
4                  Humidity
5         Wind Speed (km/h)
6    Wind Bearing (degrees)
7           Visibility (km)
8                Loud Cover
9      Pressure (millibars)

In [20]:
summary_types = [1,2,3,4,5]
condition = data["Summary"].isin(summary_types)
new=data[condition]
new['Summary'].value_counts()

1    31733
2    28094
3    16597
4    10890
5     7148
Name: Summary, dtype: int64

In [21]:
new.to_csv('weather_dataset/weatherHistory_new.csv', index=False)